# Résultats SimNIBS (trop lourds pour git)
results/results_*/


# Données subjects (trop lourds)
data/ernie/m2m_*/
data/ernie/*.ini

# paramètre perso
data/ernie/simulations_param


# Environnement Python
.venv/
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/

# Windows
Thumbs.db
desktop.ini